
body {
  background: white;
}

body,
input {
  font-family: sans-serif;
  font-size: 10pt;
  color: black;
}

table {
  border-collapse: collapse;
  border: 0;
}

td {
  border: 0;
  padding: 0;
}

#body {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#input {
  margin-top: 0.5em;
}

#inbox .message {
  padding-top: 0.25em;
}

#nav {
  float: right;
  z-index: 99;
}

.border-style {
    border: 0px solid;
    border-radius: 6px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 12px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header {
    height: 180px;
    background: url('/static/img/logo.png') top center no-repeat;
    margin-top: 10px;
}

.content {
    height: auto;
    background: #dfc;
    padding: 15px;
    margin-top: 10px;
}

.footer {
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    background: #BFF08E;
}