<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Easy PDF</title>
    <link rel="stylesheet" href="{{ static_url("style.css")}}" type="text/css">
    <link rel="shortcut icon" href="{{ static_url("img/icon.ico")}}" type="image/x-icon">
  </head>
  <body>
    <div class="wrapper">
      <div class="header border-style">
          <a href="/"><img src="{{ static_url("img/logo.png")}}" alt="" class="border-style"></a>
      </div>
      <div class="content border-style">
        {% if module %}
          {% if module == "files.html" %}
            {% module Template(module, files=files) %}
          {% else %}
            {% module Template(module) %}
          {% end %}
        {% end %}
        {% module linkify(content) %}
      </div>
      <div class="footer border-style">
        &copy; 2018 Starodubtsev Timofey
      </div>
    </div>
  </body>
</html>